*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: '맑은고딕';
    overflow-x: hidden;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}